
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#ffff89;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* HEADER */

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    background-color: chartreuse;
}

#logotipo {
    font-size: 6vh;
    font-weight: lighter;
    text-decoration: wavy;
    color: #ed3d63;
    margin-top: 4vh;
}

/* HEADER */

h1 {
    height: 4vh;
    width: 100vw;
    font-size: 2vh;
    font-family: sourceCodePro_Uniquifier;
    color: #179cb8;
    text-shadow: #ffff89 3px 6px 5px;
    display: flex;
    justify-content: center;
}

/* MAIN */

main {
    width: 100vw;
    padding: 1.5rem;
    text-align: center;
    background-color: aqua;
}

.companyIdentity {
    padding: 3rem;
    gap: 2rem;
}

h2 {
    margin: 2rem;
    padding: 1rem;
    font-size: 3rem;
    font-family: sourceCodePro_Uniquifier;
    background-color: #ed3d63;
    display: block;
}

.grid-container {
    width: 100vw;
    padding: auto;
    font-family: sourceCodePro_Uniquifier;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.grid-item {
    width: 33.33%;
    padding: auto;
    display: grid;
}

#destinos {
    width: 100vw;
    /* background-color: rgb(166, 45, 223); */
}

.item {
    width: 32.33%;
    /* height: 50.5vh; */
    display: grid;
    grid-gap: 0;
}

/* FORMULARIO Y TABLA */

#form {
    width: 100vw;
    /* background-color:#ed3d63; */
    margin-top: 6rem;
    display: grid;
}

form {
    padding: 4vh;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

.field {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0.5rem;
}

.field label {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.field input {
    height: 3vh;
    padding-left: 3rem;
    font-size: 3rem;
}

input[type="checkbox"] {
    width: 1.5vw;
    height: 2vh;
  }

input[type="radio"] {
    border-radius: 200%;
    padding: 3px;
}

.field select {
    font-size: 3rem;
    height: 3vh;
    padding-left: 3rem;
}

#validar::after {
    padding-left: 5px;
}

#fecha:invalid + #validar::after {
    content: x;
}

#fecha:valid + #validar::after {
    content: v;
}

.tablaFiltro {
    display: flex;
    justify-content: center;
}

#filter {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

/* FORMULARIO Y TABLA */

/* MAIN */

/* FOOTER */

.barraNavegacion {
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

footer {
    background-color: #179cb8;;
    width: 100vw;
    height: 10rem;
    align-items: center;
}
.imgFooter {
    width: 6rem;
    height: 6rem;
}

/* FOOTER */

/* ELEMENTOS GENÉRICOS */

.button {
    background-color: #f6a700;
    border: 1px solid #f67429;
    border-radius: 15px;
    box-shadow: #7e4400 1px 2px 4px;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    min-height: 40px;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricPrecision;
    text-transform:none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: background-color 1s;
}

  .button:hover,
  .button:focus,
  
  .button:active {
    background-color: #179cb8;
    border-color: #048a9c;
    box-shadow: #005954;
    background-position: 0 0;
    transition: none;
  }

.sourceCodePro_Uniquifier {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}

/* ELEMENTO GENÉRICOS */