* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    padding: 4vh;
    display: flex;
    justify-content: center;
}

.cuadricula {
    height: 60vh;
<<<<<<< HEAD
    width: 80vw;
    border: 2px solid palevioletred;
=======
    width: 1300px;
>>>>>>> dia6
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    /*grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;*/
}

.A {
<<<<<<< HEAD
=======
    width: 500px;
    height: 130%;
>>>>>>> dia6
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
    text-shadow: crimson;
}

.B {
<<<<<<< HEAD
=======
    width: 300px;
    height: 130%;
>>>>>>> dia6
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.C {
<<<<<<< HEAD
=======
    width: 500px;
    height: 130%;
>>>>>>> dia6
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.D {
<<<<<<< HEAD
=======
    width: 500px;
    height: 70%;
>>>>>>> dia6
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.E {
<<<<<<< HEAD
=======
    width: 300px;
    height: 70%;
>>>>>>> dia6
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.F {
<<<<<<< HEAD
=======
    width: 500px;
    height: 70%;
>>>>>>> dia6
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}