* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    padding: 20rem;
}

h1 {
    padding: 4vh;
    display: flex;
    justify-content: center;
}

.cuadricula {
    height: 60vh;
    width: 80vw;
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}

.A {
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.B {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.C {
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.D {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}

.E {
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

.F {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}