* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 4vh;
    display: flex;
    justify-content: center;
}

.gridArea {
    width: 100vw;
    height: 80vh;
    padding: 2vh;
    display: grid;
    grid-template-areas: 
                    'header header imagen'
                    'menuLateral cuerpo cuerpo'
                    'menuLateral cuerpo cuerpo'
                    'footer footer footer';
}

.header {
    grid-area: header;
    background-color: #b31c14;
    color: white;
    font-size: x-large;
    text-align: center;
}

.imagen {
    grid-area: imagen;
    background-color: #540c0c;
    color: white;
    font-size: x-large;
    text-align: center;
}

.menuLateral {
    grid-area: menuLateral;
    background-color: #fb6b24;
    padding: 1vh;
    display: grid;
    gap: 12vh;
    
}

.aside {
<<<<<<< HEAD
    height: 70%;
=======
>>>>>>> dia6
    background-color: white;
    color: #fb6b24;
    font-size: x-large;
    text-align: center;
}

.aside2 {
<<<<<<< HEAD
    height: 70%;
=======
>>>>>>> dia6
    background-color: white;
    color: #fb6b24;
    font-size: x-large;
    text-align: center;
}

.cuerpo {
    grid-area: cuerpo;
    background-color: #f03f1c;
    padding: 1vh;
    display: grid;
    gap: 2vh;
    grid-template-areas: 
                    'contenido'
                    'texto';
}

.contenido {
    
    background-color: #f03f1c;
    border: 1px solid white;
    color: white;
    font-size: x-large;
    text-align: center;
}

.texto {
   
    background-color: #f03f1c;
    border: 1px solid white;
    color: white;
    font-size: x-large;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #540c0c;
    color: white;
    text-align: center;
}